extends layout


block content

  form(method='POST' action='/catalog/annotationForm' enctype="multipart/form-data" class="form-horizontal" id="submitForm")

    div.form-group(class="mb-5")
      label(class="form-label" for="sequence" id="sequencelabel") Enter nucleotide sequence as text:
      div(class="form-floating")
        textarea(class="form-control mb-2" required placeholder="ACTGAC..." id="sequence" style="height: 180px" name='sequence' data-bs-toggle='tooltip' title='Valid nucleotides are: A,C,G,T,N,K,M,B,V,S,W,D,Y,R,H, Sequence must be at least 50 nt long.' value=(seq)) #{seq}
        label( for="sequence" id="placeholerlabel") #{seqPlaceholder}
      span(class="form-control btn btn-outline-secondary mb-2 mt-2" id="or" type="button" data-bs-toggle="tooltip" title="click to toggle between text input and file upload") 
        strong OR &varr;
      br
      label(class="form-label opacity-25" for='file' id="uploadlabel") upload the sequence as FASTA file:
      div.form-group
        input(type="file" class="form-control-file opacity-25" placeholer='Upload file' name='file' id='file' disabled = true)
    div(class="input-group mb-2")
      span(class="input-group-text") Refseq version for reference database:
      select(class="form-select" aria-label="refseq" name="refseq" id="refseq") 
        option(value="RefSeq89" selected) RefSeq89
        option(value="RefSeq204") RefSeq204
    div(class="input-group mb-2")
      span(class="input-group-text") Job Title*:
      input(type='text', class="form-control" name='id' data-bs-toggle='tooltip' title='Will be added to all of your result files' value=jobID required) 
      div(class="invalid-feedback") Please provide a job title

    div 
      label(class="mb-2") * Mandatory input
    button(class="btn btn-secondary mb-3" type='submit' id='submitButton') Submit        
    div(class="accordion mb-2" id="algorithmParams")

      div(class="accordion-item")
        h2(class="accordion-header" id="headingOne")
          button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Advanced parameters
        div(id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#algorithmParams")
          div(class="container-bg" )
            div(class="card text-bg-primary mb-3")
              div(class="card-header")  
                strong General parameters

              div(class="card-body")
                div(class="input-group mb-1")
                  span(class="input-group-text" id="edgeweight")  Edge weight:
                  input(type="number" class="form-control" min="1" step="1" name="w" id="w" value=1 data-bs-toggle="tooltip" title="Minimum edge weight for mapping (k+1)-mers. The larger the weight, the larger the degree of conservation in the subgraph. Too large values might lead to high run times.")

                div(class="input-group mb-1")
                  span(class="input-group-text") Prediction count:
                  input(type="number" class="form-control" min="1" step="1" name="g0" id="g0" value=2 data-bs-toggle="tooltip" title="Minimum count of predictions.")          
                div(class="input-group mb-1")
                  span(class="input-group-text") Alpha:
                  input(type="number" class="form-control" min="0" max="1.0" step="0.01" name="alpha" id="alpha" value=0.7 data-bs-toggle="tooltip" title="Minimum count of predictions.")   
                div(class="input-group mb-1")
                  span(class="input-group-text") Genetic code:                
                  select(class="form-select" aria-label="gencode" name="gencode" id="gencode")
                    option(value=-1) not specified
                    option(value=1 selected) 1 Standard
                    option(value=2) 2 Vertebrata
                    option(value=4) 4 Mold
                    option(value=5) 5 Invertebrate
                    option(value=9) 9 Echinoderm
                    option(value=13) 13 Ascidian 
                    option(value=14) 14 Alternative flatworm
                div(class="form-check mb-1")
                  input(class="form-check-input" type="checkbox" id="composition" name="composition" value="composition" checked)
                  label(class="form-check-label" for="composition") circular                                                                         
            div(class="card text-bg-primary")
              div(class="card-header")    
                strong Taxonomic filter
              div(class="card-body")
                div(class="row mb-1") 
                  div(class="col-md-7")
                    div(class="input-group mb-1")
                      span(class="input-group-text" id="org") Limit reference database:
                      input(class="form-control" type="text" name="organism" id="autoComplete"  data-server="/files/taxonomicData3.json" data-value-field="id" data-label-field="value" data-server-params='{"related":"related_field"}' data-bs-toggle="tooltip" title="Limit subgraph construction to species below provided taxonomic groups" placeholder="Enter organism scientific name" )
                  div(class="col")
                    input(class="form-control btn btn-outline-secondary" type="button" id="add" value="Add" disabled = true)
                  div(class="col")
                    input(class="form-control btn btn-outline-secondary" type="button" id="clear" value="Clear" )
                  div(class="col form-check")
                    input(type="radio" class="form-check-input" id="o1" name="optradio" value ="o1" checked)
                    label(class="form-check-label" for="o1") Include selection
                  div(class="col form-check")
                    input(type="radio" class="form-check-input" id="o1" name="optradio" value ="o2")
                    label(class="form-check-label" for="o2")   Exclude selection   
                div(class="row mb-1") 
                  div(class="col")
                    label(class="form-check-label" for="selection") Selected groups:
                  div(class="col")
                    ul(class="list-group" id="selection")    
                      li(class="list-group-item") Cnidaria           

    input(type="text" class="form-check-inline" id="taxids" name="taxList" value="Cnidaria" hidden)

  if errors
    br
    div.alert-danger 
      h1 Invalid sequence or fasta file supplied! Please provide a valid sequence:
      ul
        li Sequence must be at least 50 nt long.
        li Valid nucleotides are: A,C,G,T,N,K,M,B,V,S,W,D,Y,R,H.
        li No multi fasta files are supported. 
        li Fasta header must start with '>'


  script(type="module").
    import Autocomplete from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-autocomplete@master/autocomplete.js";

    const opts = {
      onChange: (item) => {
        console.log(item)
        if(item === undefined) {
          let taxBar = document.getElementById("autoComplete");
          taxBar.classList.add('is-invalid');
        }
        else{
          let taxBar = document.getElementById("autoComplete");
          document.getElementById("add").disabled = false;
          taxBar.classList.remove('is-invalid');

        }

        
        }
    };
    Autocomplete.init();
    new Autocomplete(document.getElementById("autoComplete"),opts);

    document.getElementById('add').addEventListener("click", (e) => {
      console.log("clicked add")
      let ul = document.getElementById("selection");
      let item = document.getElementById("autoComplete").value;
      console.log(document.getElementById("autoComplete").value);

      let li = document.createElement("li");
      li.appendChild(document.createTextNode(item));
      li.setAttribute("class","list-group-item")
      ul.appendChild(li);
      document.getElementById('add').disabled = true;
      document.getElementById("autoComplete").value = "";

      document.getElementById('taxids').value =document.getElementById('taxids').value + item +" ";
    });
    document.getElementById('clear').addEventListener("click", (e) => {
      console.log("clicked")
      document.getElementById("selection").innerHTML = "";
    });

    document.getElementById('or').addEventListener("click", (e) => {
      if(document.getElementById("file").disabled) {
        console.log("file disabled")
        document.getElementById("file").disabled = false;
        document.getElementById("sequence").disabled = true;
        document.getElementById("file").required = true;
        document.getElementById("sequence").required = false;
        document.getElementById("sequence").classList.add('opacity-25')
        document.getElementById("sequencelabel").classList.add('opacity-25')
        document.getElementById("placeholerlabel").classList.add('opacity-25')
        document.getElementById("file").classList.remove('opacity-25')
        document.getElementById("uploadlabel").classList.remove('opacity-25')
      }
      else {
        console.log("seq disabled")
        document.getElementById("file").disabled = true;
        document.getElementById("sequence").disabled = false;
        document.getElementById("file").required = false;
        document.getElementById("sequence").required = true;
        document.getElementById("sequence").classList.remove('opacity-25')
        document.getElementById("sequencelabel").classList.remove('opacity-25')
        document.getElementById("placeholerlabel").classList.remove('opacity-25')
        document.getElementById("file").classList.add('opacity-25')
        document.getElementById("uploadlabel").classList.add('opacity-25')
      }
    });
    document.getElementById('sequence').addEventListener("change",(e)=>{
          let nucleotideRegex = /^[ACGTNKMBVSWDYRH]+$/;
          let val = document.getElementById("sequence").value.trim()
          
          let match = val.toUpperCase().match(nucleotideRegex);
          if(match == null) {
            console.log('invalid nucleotide')
            document.getElementById("sequence").classList.add('is-invalid');
          }
          else if(val.length < 50) {
            console.log('sequence too short')
            document.getElementById("sequence").classList.add('is-invalid');
          }
          else {
            document.getElementById("sequence").classList.remove('is-invalid');
          }
    });
    document.getElementById('alpha').addEventListener("change",(e)=>{
      let alpha = document.getElementById("alpha");
      if(alpha.value > 1 || alpha.value <0) {
        alpha.classList.add('is-invalid');
      }
      else{
        alpha.classList.remove('is-invalid');
      }
    });

    document.getElementById('w').addEventListener("change",(e)=>{
      let w = document.getElementById("w");
      if(w.value < 1 || !Number.isInteger(w.value)) {
        w.classList.add('is-invalid');
      }
      else{
        w.classList.remove('is-invalid');
      }
    });

    document.getElementById('g0').addEventListener("change",(e)=>{
      let w = document.getElementById("g0");
      if(w.value < 1 || !Number.isInteger(w.value)) {
        w.classList.add('is-invalid');
      }
      else{
        w.classList.remove('is-invalid');
      }
    });
