extends layout


block content

  form(method='POST' action='/catalog/annotationForm' enctype="multipart/form-data" class="form-horizontal" id="submitForm")

    div.form-group(class="mb-5")
      label(class="form-label" for="sequence" id="sequencelabel") Enter nucleotide sequence as text:
      div(class="form-floating")
        textarea(class="form-control mb-2" required placeholder="ACTGAC..." id="sequence" style="height: 180px" name='sequence' data-bs-toggle='tooltip' title='Valid nucleotides are: A,C,G,T,N,K,M,B,V,S,W,D,Y,R,H, Sequence must be at least 50 nt long.' value=(seq)) #{seq}
        label( for="sequence" id="placeholerlabel") #{seqPlaceholder}
      span(class="form-control btn btn-outline-secondary mb-2 mt-2" id="or" type="button" data-bs-toggle="tooltip" title="click to toggle between text input and file upload") 
        strong OR &varr;
      br
      label(class="form-label opacity-25" for='file' id="uploadlabel") 
          | Upload the sequence as a single-genome 
          a(href='https://en.wikipedia.org/wiki/FASTA_format' id="wikifas" style="pointer-events:none;"  target="_blank" rel="noopener" data-bs-toggle="tooltip" title="What's this?") FASTA 
          | file:
      div(class="form-group mb-2")
        input(type="file" class="form-control-file opacity-25" placeholer='Upload file' name='file' id='file' disabled = true)
      div(class="opacity-25" id='downloadFas')
        p You can download an example FASTA file in supported format 
          a(href="/files/NC_022828.fna" id='downloadFasLink' style="pointer-events:none;" aria-disabled="true" data-bs-toggle="tooltip" title="Download example fasta file") here
          |.
        //- a(href="/files/NC_022828.fna" id='downloadFas' class="btn btn-secondary disabled opacity-25" tabindex="-1" role="button" aria-disabled="true" data-bs-toggle="tooltip" title="Download example fasta file") Download example FASTA
    //- hr
    div(class="input-group mb-2")
      span(class="input-group-text") Refseq version for reference database:
      select(class="form-select" aria-label="refseq" name="refseq" id="refseq") 
        option(value="RefSeq89" selected=ref1) RefSeq89
        option(value="RefSeq204" selected=ref2) RefSeq204
      span(class="input-group-text" id="q1") 
        a(href="https://www.ncbi.nlm.nih.gov/refseq/about/" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="What is the RefSeq data repository") ?
    div(class="input-group mb-2")
      span(class="input-group-text") Job Title:
      input(type='text', class="form-control" name='id' data-bs-toggle='tooltip' id='job' title='Will be added to all of your result files.  Only letters, numbers, "-", "_", and "." are allowed.' value=jobID required pattern='^[a-zA-Z0-9-_\.]{1,100}$') 
      div(class="invalid-feedback") Please provide a job title! Only letters, numbers, '-', '_', and '.' are allowed.
    //- div 
    //-   label(class="mb-2") * Mandatory input
        
    div(class="accordion mb-2" id="algorithmParams")

      div(class="accordion-item")
        h2(class="accordion-header" id="headingOne")
          button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Advanced parameters
        div(id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#algorithmParams")
          div(class="container-bg" )
            div(class="card text-bg-primary mb-3")
              div(class="card-header")  
                strong General parameters

              div(class="card-body")
                div(class="input-group mb-1")
                  span(class="input-group-text" id="edgeweight")  Edge weight:
                  input(type="number" class="form-control" min="1" step="1" name="w" id="w" value=wVal data-bs-toggle="tooltip" title="Minimum edge weight for mapping (k+1)-mers. The larger the weight, the larger the degree of conservation in the subgraph. Too large values might lead to high run times.")
                  span(class="input-group-text" id="q2") 
                    a(href="/catalog/example#parameters" target="_blank" rel="noopener" data-bs-toggle="tooltip" title="Click to learn more about this parameter") ?
                div(class="input-group mb-1")
                  span(class="input-group-text") Prediction count:
                  input(type="number" class="form-control" min="1" step="1" name="g0" id="g0" value=gVal data-bs-toggle="tooltip" title="Minimum count of predictions.")  
                  span(class="input-group-text" id="q3") 
                    a(href="/catalog/example#parameters" target="_blank" rel="noopener"  data-bs-toggle="tooltip" title="Click to learn more about this parameter") ?
                div(class="input-group mb-1")
                  span(class="input-group-text") Alpha:
                  input(type="number" class="form-control" min="0" max="1.0" step="0.01" name="alpha" id="alpha" value=alphaVal data-bs-toggle="tooltip" title="Cutoff paramter to determine the highest relative frequency of the RFD (relative frequency distribution).")  
                  span(class="input-group-text" id="q4") 
                    a(href="/catalog/example#parameters" target="_blank" rel="noopener" data-bs-toggle="tooltip" title="Click to learn more about this parameter") ?                   
                div(class="input-group mb-1")
                  span(class="input-group-text") Genetic code:                
                  select(class="form-select" aria-label="gencode" name="gencode" id="gencode")
                    option(value=-1 selected=sel0) not specified
                    option(value=1 selected=sel1) 1 Standard
                    option(value=2 selected=sel2) 2 Vertebrata
                    option(value=4 selected=sel4) 4 Mold
                    option(value=5 selected=sel5) 5 Invertebrate
                    option(value=9 selected=sel9) 9 Echinoderm
                    option(value=13 selected=sel13) 13 Ascidian 
                    option(value=14 selected=sel14) 14 Alternative flatworm
                div(class="form-check mb-1")
                  input(class="form-check-input" type="checkbox" id="composition" name="composition" value="composition" checked=circcheck)
                  label(class="form-check-label" for="composition") circular                                                                         
            div(class="card text-bg-primary")
              div(class="card-header")    
                strong Taxonomic filter
              div(class="card-body")
                div(class="row mb-1") 
                  div(class="col-md-8")
                    div(class="input-group mb-1")
                      span(class="input-group-text" id="org") Limit reference database:
                      input(class="form-control" type="text" name="organism" id="autoComplete"  data-server="/files/taxonomicDataNewNames.json" data-value-field="id" data-label-field="value" data-server-params='{"related":"related_field"}' data-bs-toggle="tooltip" title="Limit subgraph construction to species below provided taxonomic groups" placeholder="Enter organism scientific name")
                      input(class="form-control" type="text" name="organism2" id="autoComplete2"  data-server="/files/taxonomicDataNewIds.json" data-value-field="id" data-label-field="value" data-server-params='{"related":"related_field"}' data-bs-toggle="tooltip" title="Limit subgraph construction to species below provided taxonomy ids" placeholder="Enter taxonomy id")
                      span(class="input-group-text " id="qt") 
                        a(href="/catalog/example#parameterst" target="_blank" rel="noopener" data-bs-toggle="tooltip" title="How does the taxonomic filter work?") ? 
                  //- div(class="col")
                  //-   input(class="form-control btn btn-outline-secondary" type="button" id="add" value="Add" disabled = true)
                  div(class="col-md-1")
                  div(class="col form-check")
                    input(type="radio" class="form-check-input" id="o1" name="optradio" value ="o1" checked=o1C)
                    label(class="form-check-label" for="o1") Include selection
                  div(class="col form-check")
                    input(type="radio" class="form-check-input" id="o1" name="optradio" value ="o2" checked=o2C)
                    label(class="form-check-label" for="o2")   Exclude selection   
                //- div(class="row mb-2") 
                //-   div(class="col")
                //-     label(class="form-check-label" for="selection" ) Selected groups:
                div(class="row mb-1")   
                  div(class="col-mb-1")
                    span(class="input-group-text") Selected groups:
                    input(type="text" class="form-control form-control-sm" id="selection" name="selection" value=tax readonly)
                    div(class="row mt-2")
                    input(class="form-control btn btn-outline-secondary" type="button" id="clear" value="Clear" )
                    //- ul(class="list-group" id="selection")               
    div(class="d-grid gap-2")                    
      button(class="btn btn-primary mb-12" type='submit' id='submitButton') Submit 
    input(type="text" class="form-check-inline" id="taxids" name="taxList" value=taxh hidden)
       
  if errors
    br
    div.alert-danger 
      h1 Missing/invalid input 
      ul
        for error in errors
          li!= error.msg
      //- h1 Sequence must be at least 50 nt long.
      //- h1 





  script(type="module").
    import Autocomplete from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-autocomplete@master/autocomplete.js";

    

    const opts = {
      //- onChange: (item) => {
      //-   console.log(item)
      //-   if(item === undefined) {
      //-     let taxBar = document.getElementById("autoComplete");
      //-     taxBar.classList.add('is-invalid');
      //-   }
      //-   else{
      //-     let taxBar = document.getElementById("autoComplete");
      //-     document.getElementById("add").disabled = false;
      //-     taxBar.classList.remove('is-invalid');

      //-   }

        
      //- }

      onSelectItem: (item) => {
      console.log(item);
      //- let ul = document.getElementById("selection")


      //- let li = document.createElement("li");
      //- li.appendChild(document.createTextNode( item.value));
      //- li.setAttribute("class","list-group-item")
      //- ul.appendChild(li);
      //- const regex = new RegExp('\([0-9]+\)');
      //- const number = item.value.match(regex).index-2;
      //- console.log(item.value)
      //- console.log(item.value.match(regex))

        //- document.getElementById('selection').value =document.getElementById('selection').value + item.value.n +"("+ item.value.t +")" +"\t";
        
        //- document.getElementById('taxids').value =document.getElementById('taxids').value + item.value.substring(0,number) +" ";
        
        

        //- console.log(item.value)
        //- if(!groupList.includes(item.value)) {
        //-   groupList.push(item.value)
        //- }
        //- console.log()
        if(!document.getElementById('selection').value.includes(item.value)) {
          document.getElementById('selection').value =document.getElementById('selection').value + item.value+"\t";
          document.getElementById('taxids').value =document.getElementById('taxids').value + item.label +" ";
        }
        document.getElementById("autoComplete").value = "";
      }
      
    };
    const opts2 = {
      //- onChange: (item) => {
      //-   console.log(item)
      //-   if(item === undefined) {
      //-     let taxBar = document.getElementById("autoComplete");
      //-     taxBar.classList.add('is-invalid');
      //-   }
      //-   else{
      //-     let taxBar = document.getElementById("autoComplete");
      //-     document.getElementById("add").disabled = false;
      //-     taxBar.classList.remove('is-invalid');

      //-   }

        
      //- }

      onSelectItem: (item) => {
      console.log(item);
      //- let ul = document.getElementById("selection")


      //- let li = document.createElement("li");
      //- li.appendChild(document.createTextNode( item.value));
      //- li.setAttribute("class","list-group-item")
      //- ul.appendChild(li);
      //- const regex = new RegExp('\([0-9]+\)');
      //- const number = item.value.match(regex).index-2;
      //- console.log(item.value)
      //- console.log(item.value.match(regex))

        //- document.getElementById('selection').value =document.getElementById('selection').value + item.value.n +"("+ item.value.t +")" +"\t";
        if(!document.getElementById('selection').value.includes(item.value)) {
          document.getElementById('selection').value =document.getElementById('selection').value + item.value+ "\t";
          //- document.getElementById('taxids').value =document.getElementById('taxids').value + item.value.substring(0,number) +" ";
          document.getElementById('taxids').value =document.getElementById('taxids').value + item.value +" ";
        }
        document.getElementById("autoComplete2").value = "";
        console.log(item.value)
        if(!groupList.includes(item.value)) {
          groupList.push(item.value)
        }
        console.log()
      }
      
    };
    Autocomplete.init();
    new Autocomplete(document.getElementById("autoComplete"),opts);
    new Autocomplete(document.getElementById("autoComplete2"),opts2);
    //- document.getElementById('add').addEventListener("click", (e) => {
    //-   console.log("clicked add")
    //-   let ul = document.getElementById("selection");
    //-   let item = document.getElementById("autoComplete").value;
    //-   console.log(document.getElementById("autoComplete").value);

    //-   let li = document.createElement("li");
    //-   li.appendChild(document.createTextNode(item));
    //-   li.setAttribute("class","list-group-item")
    //-   ul.appendChild(li);
    //-   document.getElementById('add').disabled = true;
    //-   document.getElementById("autoComplete").value = "";

    //-   document.getElementById('taxids').value =document.getElementById('taxids').value + item +" ";
    //- });

    document.getElementById('clear').addEventListener("click", (e) => {
      console.log("clicked")
      document.getElementById("taxids").value = "";
      document.getElementById("selection").value = "";
      groupList = [];
              console.log(groupList)
    });

    document.getElementById('or').addEventListener("click", (e) => {
      if(document.getElementById("file").disabled) {
        console.log("file enabled")
        document.getElementById("file").disabled = false;

        //- document.getElementById("downloadFasLink").classList.remove("disabled");
        document.getElementById("downloadFasLink").style=""
        document.getElementById("wikifas").style =""
        document.getElementById("downloadFas").classList.remove("opacity-25");

        //- document.getElementById("downloadFasLink").classList.remove("opacity-25");

        document.getElementById("sequence").disabled = true;
        document.getElementById("file").required = true;
        document.getElementById("sequence").required = false;
        document.getElementById("sequence").classList.add('opacity-25')
        document.getElementById("sequencelabel").classList.add('opacity-25')
        document.getElementById("placeholerlabel").classList.add('opacity-25')
        document.getElementById("file").classList.remove('opacity-25')
        document.getElementById("uploadlabel").classList.remove('opacity-25')
        document.getElementById("sequence").value = "";


      }
      else {
        console.log("seq enabled")
        document.getElementById("file").disabled = true;
        document.getElementById("sequence").disabled = false;
        //- document.getElementById("downloadFasLink").classList.add("disabled");
        document.getElementById("downloadFasLink").style="pointer-events:none;";
        document.getElementById("wikifas").style="pointer-events:none;";
        document.getElementById("downloadFas").classList.add("opacity-25");


        //- document.getElementById("wikiFas").classList.add("opacity-25");
        document.getElementById("file").required = false;
        document.getElementById("sequence").required = true;
        document.getElementById("sequence").classList.remove('opacity-25')
        document.getElementById("sequencelabel").classList.remove('opacity-25')
        document.getElementById("placeholerlabel").classList.remove('opacity-25')
        document.getElementById("file").classList.add('opacity-25')
        document.getElementById("uploadlabel").classList.add('opacity-25')

      }
    });
    //- document.getElementById('sequence').addEventListener("change",(e)=>{

    //-       let val = document.getElementById("sequence").value.trim()


    //-       console.log(val)
    //-       if(document.getElementById("sequence").value val.length < 50) {
    //-         console.log('sequence too short')
    //-         document.getElementById("sequence").classList.add('is-invalid');
    //-       }
    //-       else {
    //-         document.getElementById("sequence").classList.remove('is-invalid');
    //-       }
    //- });

    document.getElementById('job').addEventListener("change",(e)=>{
      let j = document.getElementById("job");
      const regex = new RegExp('^[a-zA-Z0-9-_\.]{1,100}$');
      let test = regex.test(j.value)
      if(!test) {
        console.log('invalid job')
        j.classList.add('is-invalid');
      }
      else {
        j.classList.remove('is-invalid');
      }
    });


    document.getElementById('alpha').addEventListener("change",(e)=>{
      let alpha = document.getElementById("alpha");
      if(alpha.value > 1 || alpha.value <0) {
        alpha.classList.add('is-invalid');
      }
      else{
        alpha.classList.remove('is-invalid');
      }
    });

    document.getElementById('w').addEventListener("change",(e)=>{
      let w = document.getElementById("w");
      //- if(w.value < 1 || !Number.isInteger(w.value)) {
      if(w.value < 1) {        
        console.log(w.value)
        console.log(Number.isInteger(w.value))
        w.classList.add('is-invalid');
      }
      else{
        w.classList.remove('is-invalid');
      }
    });

    document.getElementById('g0').addEventListener("change",(e)=>{
      let w = document.getElementById("g0");
      //- if(w.value < 1 || !Number.isInteger(w.value)) {
      if(w.value < 1) {     
        console.log(w.value)
        console.log(Number.isInteger(w.value))
        w.classList.add('is-invalid');
      }
      else{
        w.classList.remove('is-invalid');
      }
    });
