extends layout 
block content
    div.container-bg(class="pl-2 pt-2 pb-2")
        h3(class="mb-3" id="test") Your DeGeCI 1.1 annotations are ready! 
        p Click on the button below to download the results as zip archive. The archive includes:
            ul 
                li A 
                    a(href="http://genome.ucsc.edu/FAQ/FAQformat.html#format1") BED 
                    | file containing the gene annotation for the supplied input genome. Note: The end positions in the produced BED file are exclusive.
                li A text file containing the gene order, i.e., the gene names in the order in which they appear in the genome. This can be used for genome rearrangement analysis (e.g., with 
                    a(href="http://pacosy.informatik.uni-leipzig.de/crex/") CREx
                    |).
                li A file containing the subsequences of the detected genes (file extension faa).
                li A text file containing the employed parameter settings.
                li A png file of the genes in the genome.
        p There are various sites available for interactively exploring the produced bed file. Click 
            a(href="/catalog/example#crossFile" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="Interactive genome browsers") here 
            | for further instructions.                
        form(method="GET" id="downloadResults" action=(link))  
            button(class="btn btn-secondary mb-3" type='submit' id='submitButton') Download 


    if errors
        ul
        for error in errors
            li!= error.msg

        
