extends layout

block content
  div(class="mt-4 p-5 bg-light  rounded")
    h4
      p The 5 days after your computation seem to have passed. Your annotation results have therefore been deleted.
      p You can go back to "Annotate Sequence" to start a new computation.
