extends layout

block content  
    div(class="accordion mb-2" id="alg")
        div(class="accordion-item")
            h2(class="accordion-header" id="headingOne")
                button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Algorithmic concepts
            div(id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#alg")
                div(class="container-bg" )
                    div(class="card text-bg-primary mb-3")  
                        div(class="card-header")  
                            strong How it works 
                        div(class="card-body")
                            ul
                                li DeGeCI 1.1 uses a reference database of a large collection of complete mitogenomes of different taxonomic groups from the 
                                    a(href="https://www.ncbi.nlm.nih.gov/refseq/about/" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="What is the RefSeq data repository") RefSeq 
                                    | data repository, which is represented as an annotated colored de Bruijn graph.
                                li Given a user-supplied mitogenome, the set of all substings of length (k+1), i.e., (k+1)-mers, contained in the sequence is generated.
                                li From this input genome graph, the induced subgraph of the database graph is created. That is, the subgraph consisting of all vertices and edges contained in both the database and the input genome graph.
                                li Unmatched segments in the input sequence result in separate components in this subgraph. These are bridged by alternative trails of the database graph that have a high sequence similarity to the unmatched segments.
                                li Lastly, an agglomerative clustering routine is applied to aggregate the gene annotations of the database sequences annotated in the subgraph, producing the final gene predictions.
                                li Optionally, the boundary positions of these predictions can still be refined. This is done, if a genetic code is supplied on submitting the input data (see 
                                    a(href="/catalog/example#parameters" target="_blank" rel="noopener" data-bs-toggle="tooltip" title="Click to learn more about this parameter") Advanced parameters 
                                    | for details). 
        div(class="accordion mb-2" id="input")
        div(class="accordion-item")
            h2(class="accordion-header" id="headingTwo")
                button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="fastaFile") Required input
            div(id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#input")
                div(class="container-bg" )                            
                    div(class="card text-bg-primary mb-3")  
                        div(class="card-header")  
                            strong Input genome
                        div(class="card-body")
                            p The only required input is the nucleotide sequence that is to be annotated by DeGeCI. This sequence can either be supplied as: 
                            ul 
                                li  
                                    a(href='https://en.wikipedia.org/wiki/FASTA_format') FASTA 
                                    | file
                                li or sequence string.
                            p  There is a button (OR), which allows you to toggle between both input options. <br />
                            | Only a single genome can be annotated at a time. If multiple-genome fasta files are supplied, only the first sequence is used (The typical '>' symbol is interpreted as seperator between different genomes).
                            | Similarly, if multiple '>' strings are entered in the text area, only the first one will be used. If the strings are seperated by newline, TAB, or other control characters, it is assumed that all letters separated by these 
                            | characters belong to one sequence.
                            br
                            br
                            p Valid nucleotides are A,C,G,T,N,K,M,B,V,S,W,D,Y,R, and H. All other characters not contained on lines starting with '>' are removed from the input (including control characters).
        div(class="accordion mb-2" id="input2")
        div(class="accordion-item")
            h2(class="accordion-header" id="headingTwoTwo")
                button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo" id="parameters") Advanced parameters
            div(id="collapseTwoTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoTwo" data-bs-parent="#input2")
                div(class="card text-bg-primary mb-3")  
                    div(class="card-header")  
                        strong Runtime parameters
                    div(class="card-body" )  
                        p In general, the default parameter settings of DeGeCI proved to produce good results for a broad specturm of different taxonomic lineages. If you are, however, not satisfied with the annotation, or have additional information about the genome sequence, you are welcome to fine tune these settings by clicking on the 
                            strong Advanced paramaters 
                            | button. This will expand a content pane in which several settings can be adapted. This includes: 
                            ul
                                li 
                                    
                                    strong Edge weight: 
                                    | Minimum number of genomes that must contain a (k+1)-mer for its edge to be included in the graph. The larger the weight, the larger the degree of conservation in the subgraph. 
                                    br
                                    | Allowed vallues: Integer values >= 1.
                                    br 
                                    |Default is 1.
                                li 
                                    strong Prediction count: 
                                    | Minimum number of database entries predicting a certain annotation for the annotation to be taken into account. 
                                    br 
                                    | Allowed values: Integer values >= 1.
                                    br
                                    | Default is 2.
                                li 
                                    strong Alpha: 
                                    | Cutoff paramter to determine the highest relative frequency of the RFD (relative frequency distribution) that must at least be obtained by a cluster to get selected from the dendogram. 
                                    br 
                                    | Allowed values: All values in [0,1].
                                    br
                                    | Default is 0.7.
                                li 
                                    strong Genetic code: 
                                    | Optionally, the translation table can be specified for the input genome. This may improve the gene boundary precision.
                                    br 
                                    | Default is "not specified".                                    
                                li 
                                    strong Circular: 
                                    | Checkbox to specify if the input genome is circular. If unchecked, the input genome is treated as linear.
                            a(href="/catalog/example#runtimeT" target="_blank" rel="noopener" data-bs-toggle="tooltip" title="Click to get details") How do these parameters affect the runtime? 
        div(class="accordion mb-2" id="tax")
        div(class="accordion-item")
            h2(class="accordion-header" id="headingTwoT")
                button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoT" aria-expanded="false" aria-controls="collapseTwoTwo" id="parameterst") Taxonomic filter
            div(id="collapseTwoT" class="accordion-collapse collapse" aria-labelledby="headingTwoT" data-bs-parent="#tax")
                div(class="card text-bg-primary mb-3")  
                    div(class="card-header")  
                        strong Taxonomic filter
                    div(class="card-body" )   
                        | Optionally, only a subset of the species in the database fulfilling a certain taxonomic constraint can be used for the annotation.
                        | By providing the taxonomy ID or scientific name of one or several organisms, all database species in the phylogenetic subtree below the lowest common ancestor of the specified taxonomic data are determined.
                        | By selecting "include selection,"  
                        strong ONLY 
                        | these species will be used for the annotation. By selecting "exclude selection," these species will 
                        strong NOT 
                        | be used for the annotation.   
                        br
                        | Possible use cases for this filter include analyzing which genes have been conserved in the input genome with respect to certain taxonomic groups or studying the impact of specific taxonomic groups on the quality of the results.                                     
                        br
                        br
                        a(href="/catalog/example#runtimeT" target="_blank" rel="noopener" data-bs-toggle="tooltip" title="Click to get details") How does this filter affect the runtime? 
        div(class="accordion mb-2" id="output")
        div(class="accordion-item")
            h2(class="accordion-header" id="headingThree")
                button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Output
            div(id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#output")
                div(class="container-bg" ) 
                        div(class="card text-bg-primary mb-3")  
                            div(class="card-header")  
                                strong Output   
                            div(class="card-body")
                                p The output produced by DeGeCI includes:
                                ul 
                                    li A 
                                        a(href="http://genome.ucsc.edu/FAQ/FAQformat.html#format1") BED 
                                        | file containing the gene annotation for the supplied input genome. The end positions in the produced BED file are exclusive.
                                    li A text file containing the gene order, i.e. the gene names in the order of their appearance on the genome. This can be used for genome rearrangement analyses (e.g., with 
                                        a(href="http://pacosy.informatik.uni-leipzig.de/crex/") CREx
                                        |).
                                    li A file containing the subsequences of the detected genes (file extension faa).
                                    li A text file containing the employed parameter settings.
                                    li A png file of the genes in the genome.
        div(class="accordion mb-2" id="runtime")
        div(class="accordion-item")
            h2(class="accordion-header" id="headingTwoF")
                button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoF" aria-expanded="false" aria-controls="collapseTwoF" id="runtimeT") Runtimes
            div(id="collapseTwoF" class="accordion-collapse collapse" aria-labelledby="headingTwoF" data-bs-parent="#runtime")
                div(class="card text-bg-primary mb-3")  
                    div(class="card-header")  
                        strong Average runtime
                    div(class="card-body" )   
                        | The annotation times depend on various conditions. In addition to the current server load, this includes the number of queued pending computations, the length and type of the input sequence, the taxonomic classification of the genome, the choice of runtime parameters, and the taxonomic filter.
                        br
                        strong Runtime parameters: 
                        | Of the runtime parameters, the edge weight has the largest impact. Increasing it, results in an increasing number of unmatched regions in the initial subgraph and therefore increased bridging times.
                        br
                        strong Taxonomic filter: 
                        | In general, we have found that choosing the filter in a way to exclude all closely related species, on average triples the running time. 
                        | This is because, there will generally be large unmatched regions in the initial subgraph, due to the more distinct species used for the annotation.
                        | This in turn causes high bridging times.
                        | In contrast, choosing the filter in a way to include only closely related species, generally results in comparable running times to those without a filter, with a slight tendency towards shorter times.
                        br
                        br
                        | To provide the user with a rough estimate for concrete times, we have measured the runtimes for a sample of 100 complete mitogenomes, comprising seven major Metazoan groups (see table below). 
                        | The times were measured using the default parameter settings, mitogenomes with an average length of 16,500 nt, and no taxonomic filter. 
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">Taxonomic group</th>
                                <th scope="col">Mean time [min]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Actinopterygii</th>
                                        <td>2.58</td>
                                </tr>
                                <tr>
                                    <th scope="row">Amphibia</th>
                                        <td>5.60</td>
                                </tr>
                                 <tr>
                                    <th scope="row">Arthropoda</th>
                                        <td>2.54</td>
                                </tr>
                                 <tr>
                                    <th scope="row">Mammalia</th>
                                        <td>3.27</td>
                                </tr>
                                 <tr>
                                    <th scope="row">Non-bilaterian species</th>
                                        <td>1.54</td>
                                </tr>
                                 <tr>
                                    <th scope="row">Sauropsida</th>
                                        <td>5.10</td>
                                </tr>
                                 <tr>
                                    <th scope="row">Spiralia</th>
                                        <td>4.29</td>
                                </tr>                                                                                                                                
                            </tbody>
                        </table>    
        div(class="accordion mb-2" id="cross")
        div(class="accordion-item")
            h2(class="accordion-header" id="headincross")
                button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecross" aria-expanded="false" aria-controls="collapsecross" id="crossFile") Related sites
            div(id="collapsecross" class="accordion-collapse collapse" aria-labelledby="headingcross" data-bs-parent="#input")
                div(class="container-bg" )                            
                    div(class="card text-bg-primary mb-3")  
                        div(class="card-header")  
                            strong Crosslinks to related sites
                        div(class="card-body")
                            ul 
                                li  Genomes for the reference database are from the 
                                    a(href="https://www.ncbi.nlm.nih.gov/refseq/about/" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="What is the RefSeq data repository") RefSeq 
                                    | data repository
                                li The phylogenetic tree for the taxonomic filter is derived from the 
                                    a(href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=6073" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="What is the NCBI taxonomy data repository") NCBI taxonomy 
                                    | database 
                                li There are various sites available for interactively exploring the produced bed file. Some examples are:
                                    p 
                                        strong BioViz  
                                        div(class="row-bg-white")
                                            div(class="col")
                                                figure
                                                    img(src="/files/bioviz.png" class="img-fluid" alt="BioVIZ Viewer image") 
                                                    figcaption BioVIZ Viewer output for mitogenome NC_022828 of the DeGeCI annotation example. 
                                                    | The annotated genes are displayed in the main view. This view is separeted into two sections, one for each strand. In this case all genes are annotated on the positive strand (upper section).
                                                    | A slider on the top allows zoomig. The nine tabs at the bottom of the viewer show additional information. For example, the <em>Selection info</em> tab summarizes details of the currently selected gene (red box, here nad6). 
                                            div(class="col")
                                                p Instructions
                                                    ol 
                                                        li Go to 
                                                            a(href="https://bioviz.org/" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="BioViz") BioViz 
                                                            | and click "Install IGB" in the top right corner. 
                                                        li Install the software by launching the install script (takes less than a minute). 
                                                        li Go to "File" and select the genereated BED file by DeGeCI 1.1 (the file with extension "bed").
                                                        li Click the "LOAD DATA" Button in the top right corner (the software also informs you in a popup window to do this).
                                    p
                                        strong IGV 
                                        div(class="row-bg-white")
                                            div(class="col")
                                                figure
                                                img(src="/files/IGV.png" class="img-fluid" alt="IGV Viewer image") 
                                                img(src="/files/IGV3.png" class="img-fluid" alt="IGV Viewer image") 
                                                img(src="/files/IGV2.png" class="img-fluid" alt="Zoomed in IGV Viewer image") 
                                                figcaption IGV Viewer output for mitogenome NC_022828 of the DeGeCI annotation example. 
                                                    | The genome is displayed in the top row. By zooming in, colors become visible on this row (second and third image). These colors encode the different nucleotides (e.g., T=red, A=green, C=blue, G=brown). By zooming in further, the indiviual nucleotides become visible (third image). 
                                                    | The second and thrid row show the annotated genes on the positive and negative strand, respectively. In this case the third row is empty because all genes are annotated on the positive strand.
                                            div(class="col")
                                                p Instructions
                                                    ol 
                                                        li Go to 
                                                            a(href="https://igv.org/app/" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="IGV") IGV.  
                                                        li Remove all currently loaded example data. 
                                                        li Click on "Genome" &rarr; "Local File" and upload the genome sequence. To to do so, select the sequence as FASTA and indexed FASTA file (this allows to also load large genomes). If you do not have an indexed FASTA file of your genome, you can for example generate it using the 
                                                            a(href="https://github.com/ekg/fastahack" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="fastahack") fatahack 
                                                            | software.
                                                        li Click on "Tracks" &rarr; "Local File" and upload the BED file produced by DeGeCI 1.1 (the file with extension "bed").
        div(class="accordion mb-2" id="main")
        div(class="accordion-item")
            h2(class="accordion-header" id="headingmain")
                button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsemain" aria-expanded="false" aria-controls="collapsemain" id="mainT") Maintenance
            div(id="collapsemain" class="accordion-collapse collapse" aria-labelledby="headingmain" data-bs-parent="#input")
                div(class="container-bg" )                            
                    div(class="card text-bg-primary mb-3")  
                        div(class="card-header")  
                            strong Maintenance
                        div(class="card-body")
                            p To assure the website is up and running we run hourly cronjobs. We also run a short maintenance job every sunday at 0pm (GMT+1) during which the site will be down for 1 minute. 
                            | The reference database is updated based on the currently available material and personal resources of our faculty.
                            br
                            p
                            p Despite our best efforts, it is of course possible that you might encounter some sort of misbehaviour on our website. In this case, please report to 
                                strong lfiedler@informatik.uni-leipzig.de
                                |.
        div(class="accordion mb-2" id="faq")
        div(class="accordion-item")
            h2(class="accordion-header" id="headingFour")
                button(class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour") FAQ
            div(id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faq")
                div(class="container-bg" ) 

                    div(class="card text-bg-primary mb-3")  
                        div(class="card-header")  
                            strong FAQ   
                        div(class="card-body")
                        ol 
                            li 
                                strong Q: 
                                | How are the results provided?
                                br
                                strong A: 
                                | Once you have submitted your input genome, you can stay on the page or bookmark it, the link to the result files will appear there, once the results are ready.
                            li 
                                strong Q: 
                                | Do you provide the results in other formats?
                                br
                                strong A: 
                                | Currently not. 
                            li     
                                strong Q: 
                                | How long are the results kept?
                                br
                                strong A: 
                                | Your results will automatically be removed after 5 days.
                            li
                                strong Q: 
                                | Can I also annotate incomplete genomes?
                                br
                                strong A: 
                                | Yes, this is basically possible. However, note that DeGeCI is optimized for annotating complete genomes, so the results might be of lower quality. Also note, that the minimum length is 50 nt.
                            li 
                                strong Q: 
                                | Who do I report to in case of misbehaviour?
                                br
                                strong A: 
                                | please report to lfiedler@informatik.uni-leipzig.de
                            li
                                strong Q: 
                                | How do I cite DeGeCI?
                                br
                                strong A: 
                                | Please cite: 
                                br
                                | Fiedler L., Middendorf M. and Bernt M. (2023) Fully automated annotation of mitochondrial genomes using a cluster-based approach with de Bruijn graphs. Front. Genet. 14:1250907. 
                                a(href="https://www.frontiersin.org/articles/10.3389/fgene.2023.1250907") doi: 10.3389/fgene.2023.1250907


