extends layout

block content
  //- h1= title
  div(class="mt-4 p-3 bg-light  rounded")
    p
      h1() Welcome to DeGeCI 1.1 
      p a free web server for annotating genes of Metazoan mitochondrial genomes.
      hr
      p 
      a(href="/catalog/annotationForm") Start annotating a sequence 
      p
      a(href="/catalog/example") Learn about the methods used and possible parameter settings
      p
      a(href="/catalog/scenario") Take a look at an example setting that is ready to submit
      //- p
      //- a(href="/catalog/imprint") Author, paper, and software information
  div(class="mt-4 p-3 bg-light  rounded")
    p
      //- h1() Author information 
      strong Authors: 
      br 
      ul 
          li Lisa Fiedler*
          li Matthias Bernt**
          li Martin Middendorf* 
      | * Department of Computer Science, Leipzig University
      br 
      | ** Department Molecular Systems Biology, Environmental Research — UFZ
      hr 
      strong Corresponding paper of the DeGeCI software: 
      br
      | Fiedler L., Middendorf M. and Bernt M. (2023) Fully automated annotation of mitochondrial genomes using a cluster-based approach with de Bruijn graphs. Front. Genet. 14:1250907. 
      a(href="https://www.frontiersin.org/articles/10.3389/fgene.2023.1250907") doi: 10.3389/fgene.2023.1250907
      hr
      strong Source code and installation instructions: 
      br 
      a(href="https://git.informatik.uni-leipzig.de/lfiedler/degeci") https://git.informatik.uni-leipzig.de/lfiedler/degeci
      hr
      strong Crosslinks to related sites:
      ul 
          li  Genomes for the reference database are from the 
              a(href="https://www.ncbi.nlm.nih.gov/refseq/about/" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="What is the RefSeq data repository") RefSeq 
              | data repository
          li The phylogenetic tree for the taxonomic filter is derived from the 
              a(href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=6073" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="What is the NCBI taxonomy data repository") NCBI taxonomy 
              | database 
          li There are various sites available for interactively exploring the produced bed file. Some examples are:
          ul 
              li  
                  a(href="https://bioviz.org/" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="BioViz") BioViz  
              li 
                  a(href="https://igv.org/app/" data-bs-toggle="tooltip" target="_blank" rel="noopener" title="IGV") IGV 
