doctype html
html(lang='en')
  head
    title= "DeGeCI"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1/dist/css/bootstrap-dark.min.css" rel="stylesheet")

  body
    div(class='container-fluid')
      div(class='row')
        div(class="navbar navbar-expand-lg navbar-light mb-4" style="background-color: #e3f2fd;")
          div(class="container-fluid")
            a(class="navbar-brand" href='/catalog') DeGeCI 1.1 WebServer
            div(class="collapse navbar-collapse" id="navbarScroll")
              ul(class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;")
                li(class="nav-item")
                  a(class="nav-link active" style="padding-right: 20px;" aria-current="page" href='/catalog') Home 
                li(class="nav-item")
                  a(class="nav-link active" style="padding-right: 20px;" aria-current="page" href='/catalog/annotationForm') Annotate Sequence 
                li(class="nav-item")
                  a(class="nav-link active" style="padding-right: 20px;" aria-current="page" href='/catalog/scenario') Annotate Example   
                li(class="nav-item")
                  a(class="nav-link active" aria-current="page" href='/catalog/example') How it works                       

                //- li(class="nav-item")                               
                //-   a(class="nav-link active" aria-current="page" href='/catalog/imprint') Imprint

        div
          block content


    
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" type="module")  


    
    