extends layout

block content
  div(class="mt-4 p-4 bg-light rounded")
    div(id="data")
      h5(class="p-0" id="result") 
        //- p Please wait! 
        //- strong Progress: 
        p(id="progress") 
        //- | You are currently number 
        //- strong(style="color:blue;") #{linenumber} 
        //- | in line.
      //- br 
      //- hr
      //- br 
      div(class="progress" style="height: 35px;font-size: 20px;" id="progress")
        div(class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progressBar" ng-show="data.progress < 100" ng-hide="data.progress == 100") 0%
      br
      h5
        div(id="optional") 
          p Stay on this page or bookmark it. The link to the results will be available here for 5 days after the completed computation. 
          p To conduct multiple computations, you can use separate tabs in your browser.
          p
            a(href="/catalog/example#runtimeT" target="_blank" rel="noopener" data-bs-toggle="tooltip" title="Click to get details") How long will the computation take?  







  script. 
    //- var source = new EventSource(document.location.href +"/subscribe",{withCredentials: true,});
    var source = new EventSource(document.location.href +"/subscribe");
    console.log("starting script")
    //- const statusArray = ["Creating phylogenetic subtree of supplied taxonomic groups. Processing Step 1/4 ...","Creating the induced subgraph. Processing Step 2/4 ...",
    //- "Bridging seperate components. Processing Step 3/4 ...","Annotating the sequence. Processing Step 4/4 ...","No kmer matches could be found."];


    const statusArray = ["Creating phylogenetic subtree of supplied taxonomic groups. Processing Step 1/4 ...","Creating the induced subgraph and bridging components. Processing Step 2/4 ...",
    "Annotating the sequence. Processing Step 3/4 ...","Generating output files and plots. Processing Step 4/4 ...","No kmer matches could be found."]
    //- var source = new EventSource("/subscribe");
       
    //- source.addEventListener("subscribe", (e) => {
    //-   console.log("subscribe")
    //-   console.log(e.data);
    //-   //- document.getElementById("result").innerHTML = '<h4> Your results have been computed! They are available' + '<a id=hreflink href='+ event.data +'> here'+'</a>.</h4>' ;
    //-   source.close();
    //- });
    
    source.addEventListener("result", (e) => {
      console.log("listner")
      console.log(e.data);
      document.getElementById("optional").innerHTML = '<p>Your results will automatically be removed after 5 days.</ p>'
      document.getElementById("progress").innerHTML = '<strong>Progress:</strong> Your results have been computed! They are available' + '<a id=hreflink href='+ e.data +'> here'+'</a>.' ;
      document.getElementById("progressBar").setAttribute("aria-valuenow", "100") ;
      document.getElementById("progressBar").style = "width: 100%;font-size: 20px;" 
      document.getElementById("progressBar").innerHTML = "100%";
      source.close();
    });

    source.addEventListener("newTab", (e) => {
      console.log("newTab listner")
      console.log(e.data);
      //- document.getElementById("optional").innerHTML = ''
      //-        document.getElementById("progress").innerHTML = ""
      document.getElementById("data").innerHTML = '<h4> Seperate browser tab to the same connection has been opened. Only one connection per annotation process can be used. Please use the new tab.</h4>' ;

      //- document.getElementById("progressBar").setAttribute("hidden", false) ;
      source.close();
     });

    source.addEventListener("client", (e) => {
      console.log("client listner")
      console.log(e.data);
      //- document.getElementById("progressBar").setAttribute("hidden", false) ;

      document.getElementById("progress").innerHTML = '<strong>Progress:</strong> You are currently number <strong style="color:blue;">' + e.data +'</strong> in line. Please wait.' ;

     });

    source.addEventListener("status", (e) => {
      console.log("status listner")
      console.log(e.data);
      //- document.getElementById("progressBar").setAttribute("hidden", false) ;

      document.getElementById("progress").innerHTML = '';

      document.getElementById("progress").innerHTML = '<strong>Progress:</strong> ' + e.data  ;
      if(e.data == statusArray[1]) {
        document.getElementById("progressBar").setAttribute("aria-valuenow","25");
        document.getElementById("progressBar").style = "width: 25%;font-size: 20px;" 
        document.getElementById("progressBar").innerHTML = "25%";

      }
      else if(e.data == statusArray[2]) {
        document.getElementById("progressBar").setAttribute("aria-valuenow","50") ;
        document.getElementById("progressBar").style = "width: 50%;font-size: 20px;"
        document.getElementById("progressBar").innerHTML = "50%"; 

      }
      else if(e.data == statusArray[3]) {
        document.getElementById("progressBar").setAttribute("aria-valuenow","75") ;
        document.getElementById("progressBar").style = "width: 75%;font-size: 20px;" 
        document.getElementById("progressBar").innerHTML = "75%";
      }
     });

    source.addEventListener("err", (e) => {
      console.log("error listner")
      console.log(e.data);
      //- document.getElementById("optional").innerHTML = ''
      //- document.getElementById("loader").innerHTML = ''
      document.getElementById("data").innerHTML = 'Sorry, your supplied genome sequence could not be annotated.<br />'+
       "<br\>Possible reasons could be:<br\><ul><li>There are no database species that are in the phylogentic subtree specified by your supplied taxonomic groups (only if taxonomic filter has been used).</li><li>No significant matches could be found between your supplied genome and the genomes in the database.</li><li>A combination of the above.</ul>";
      source.close();
    });

    source.onerror= (e) => {
      console.log("An error occurred while attempting to connect.");
      //- document.getElementById("optional").innerHTML = ''
      document.getElementById("data").innerHTML = '<h4> An error occurred while attempting to connect to the server. </h4>' ;
      source.close();
    };

    //- source.addEventListener("status", (e) => {
    //-   console.log("status listner")
    //-   console.log(e.data);
    //-   //- document.getElementById("optional").innerHTML = ''
    //-   document.getElementById("result").innerHTML =document.getElementById("result").innerHTML +"<br\>"+  e.data  ;
    //-   //- source.close();
    //- });



  //-   //- source.onmessage = function(event) {
  //-   //-   document.getElementById("optional").innerHTML = ''
      
  //-   //-   console.log("in event function")
  //-   //-   console.log("Event " + event.data)
      
  //-   //-   if(event.data === 'error') {
  //-   //-     console.log("error")
  //-   //-     console.log(event.data)
  //-   //-     document.getElementById("result").innerHTML = '<h4> Your supplied genome sequence could not be annotated. </h4>' ;
  //-   //-   }
  //-   //-   else{
  //-   //-     console.log("results")
  //-   //-     console.log(event.data)
  //-   //-     document.getElementById("result").innerHTML = '<h4> Your results have been computed! They are available' + '<a id=hreflink href='+ event.data +'> here'+'</a>.</h4>' ;
  //-   //-   }
  //-   //-   source.close();
  //-   //- }; 


